.alert-box.success[data-alert]
  | Crawler has been started. Please wait for results. 
  a.close[href = "#"] &times;

= link_to 'Show results from DB', search_products_path(@search), remote: true, class: 'button tiny'
